body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    width:640px;
    margin:auto;
    /* margin: 0px;
    padding: 0px; */
}

div.header {
    background-color: #FFF8F0;
    margin:0px;
    padding:0px;
}

pre.verbatim {
    background-color: #F3F3F3;
}

code {
    color: #103030;
}
